<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="iotTesting">

	<listeners>
		<listener class-name="com.iotTesting.utilities.Reporting" />
	</listeners>

<test name="AUT-Chrome Test">
		<parameter name="browser" value="chrome" />
		<classes>
			<!-- <class name="com.iotTesting.testCases.TC_EnterValue_001" /> -->
			 <class name="com.iotTesting.testCases.TC_DD_EnterValue_001" /> 
			<!-- <class name="com.iotTesting.testCases.TC_003" />-->
		
		</classes>

	</test>

<test name="AUT-Firefox Test">
		<parameter name="browser" value="firefox" />
		<classes>
			<!-- <class name="com.iotTesting.testCases.TC_EnterValue_001" /> -->
			 <class name="com.iotTesting.testCases.TC_DD_EnterValue_001" /> 
			<!-- <class name="com.iotTesting.testCases.TC_003" />-->
		
		</classes>

	</test>

	

</suite>